@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/1920x1080/?landscape');
  background-repeat: no-repeat;
}

